---
import { type CollectionEntry } from "astro:content";

import { css } from "@/style/css";
import { vstack } from "@/style/patterns";
import { format } from "@/utils/date";

type Data = CollectionEntry<"blog">["data"];

interface Props {
  id: string;
  slug: string;
  data: Data;
}

const { data, id, slug } = Astro.props;
const { title, publishingDate, description, tags } = data;
const [lang] = id.split("/");
const url =
  "/" + [lang, "blog", slug].filter((fragment) => fragment !== "fr").join("/");
---

<article
  class={vstack({
    w: "full",
    py: 4,
    justifyContent: "flex-start",
    alignItems: "flex-start",
    gap: 4,
  })}
>
  <a href={url} class={css({ textDecoration: "underline" })}>
    <h3 class={css({ textStyle: "h4" })}>
      {title}
    </h3>
  </a>

  {
    tags.length > 0 && (
      <ul>
        {tags.map((tag) => (
          <li>{tag}</li>
        ))}
      </ul>
    )
  }
  <p class={css({ textStyle: "body", fontWeight: 400 })}>{description}</p>
  <p class={css({ textStyle: "small", color: "neutral.600" })}>
    {format(publishingDate, "PPP")}
  </p>
</article>
