---
import { Image } from "astro:assets";

import chris from "@/assets/common/chris.jpg";
import { l, t } from "@/i18n";
import { css } from "@/style/css";
import { hstack, vstack } from "@/style/patterns";
import NavItem from "@/components/NavItem.astro";
import Socials from "@/components/Socials.astro";
import { twitch } from "@/utils/link";

type Props = {
  frUrl: string;
  enUrl: string;
};
const { frUrl, enUrl } = Astro.props;
---

<script>
  const navbarButton = document.querySelector("#nav-button");
  const navDrawer = document.querySelector("#nav-drawer");
  navbarButton?.addEventListener("click", () => {
    if (!navDrawer) return;
    navDrawer.classList.toggle("nav-open");
  });

  document
    .querySelector("#lang-select")
    ?.addEventListener("change", (event) => {
      const target = event.target as unknown as HTMLSelectElement;
      const frURL = target.dataset.frurl ?? "";
      const enURL = target.dataset.enurl ?? "";
      window.location.replace(target.value === "fr" ? frURL : enURL);
    });
</script>

<style>
  .nav-open {
    visibility: visible;
  }
</style>

<nav
  class={css({
    position: "sticky",
    top: "0",
    w: "full",

    lg: {
      position: "sticky",
      top: "0",
      h: "100svh",
      borderBottom: "none",
    },
  })}
>
  <div
    class={hstack({
      w: "full",
      h: "80px",
      background: "white",
      borderBottom: "1px solid",
      borderBottomColor: "neutral.300",
      justifyContent: "space-between",
      px: "6",
      lg: {
        display: "none",
      },
    })}
  >
    <button
      id="nav-button"
      type="button"
      class={css({
        backgroundColor: "neutral.200",
        borderRadius: "sm",
        px: "2",
        py: "1",
        cursor: "pointer",
        _hover: {
          backgroundColor: "neutral.300",
        },
      })}
    >
      <p class={css({ textStyle: "body" })}>Menu</p>
    </button>

    <p class={css({ textStyle: "h4", fontWeight: "bold" })}>Christopher K.</p>
  </div>

  <div
    id="nav-drawer"
    class={css({
      position: "fixed",
      top: "80px",
      left: 0,
      visibility: "hidden",
      background: "white",
      w: "full",
      h: "calc(100vh - 80px)",
      p: "6",
      overflow: "auto",
      lg: {
        position: "relative",
        visibility: "visible",
        top: "initial",
        left: "initial",
        height: "100svh",
      },
    })}
  >
    <div
      class={vstack({
        gap: "10",
      })}
    >
      <div
        class={hstack({
          w: "full",
          gap: "4",
          alignItems: "center",
          justifyContent: "center",
        })}
      >
        <Image
          src={chris}
          alt="Christopher smiling photo"
          class={css({
            rounded: "full",
            w: "100px",
            h: "auto",
          })}
        />

        <div class={css({ flex: 1 })}>
          <div class={css({ w: "full" })}>
            <p class={css({ textStyle: "h5", fontWeight: "bold" })}>
              Christopher K.
            </p>
            <p class={css({ textStyle: "small" })}>Software Engineer</p>
            <p class={css({ textStyle: "small" })}>Twitch Streamer</p>

            <div class={css({ py: "1" })}>
              <Socials />
            </div>
          </div>
        </div>
      </div>

      <div class={css({ w: "100%" })}>
        <p class={css({ textStyle: "body", color: "neutral.600" })}>
          {t("common:nav.intro")}
        </p>
      </div>

      <ul
        id="nav-list"
        class={vstack({
          w: "full",
        })}
      >
        <NavItem href={l("/")}>{t("common:nav.home")}</NavItem>
        <NavItem href={twitch}>{t("common:nav.twitch")}</NavItem>
      </ul>

      <fieldset class={vstack({ w: "full", alignItems: "flex-start" })}>
        <label for="lang-select">{t("common:nav.lang")}</label>
        <select
          data-frurl={frUrl}
          data-enurl={enUrl}
          class={css({
            appearance: "none",
            borderRadius: "sm",
            border: "1px solid",
            borderColor: "neutral.300",
            w: "full",
            p: "2",
            cursor: "pointer",
          })}
          id="lang-select"
        >
          <option value="en" selected={Astro.currentLocale === "en"}
            >English</option
          >
          <option value="fr" selected={Astro.currentLocale === "fr"}
            >Français</option
          >
        </select>
      </fieldset>
    </div>
  </div>
</nav>
