---
import { css } from "@/style/css";

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<li
  class={css({
    background: "neutral.50",
    borderRadius: "sm",
    textStyle: "body",
    w: "full",
    _hover: {
      backgroundColor: "neutral.200",
    },
  })}
>
  <a {href} class={css({ display: "block", px: 4, py: 3 })}>
    <slot />
  </a>
</li>
