---
import { css } from "@/style/css";

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<li
  class={css({
    backgroundColor: "neutral.50",
    textStyle: "body",
    _hover: {
      backgroundColor: "neutral.200",
    },
    md: {
      backgroundColor: "transparent",
    },
  })}
>
  <a {href} class={css({ display: "block", px: 4, py: 4 })}>
    <slot />
  </a>
</li>
