---
import SEO from "@/components/SEO.astro";

export interface Props {
  title: string;
  description?: string;
  forceUseDefaultOgTitle?: boolean;
  ogType?: "website" | "article";
}

const { title, description, forceUseDefaultOgTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO {title} {description} {forceUseDefaultOgTitle} />
    <script
      data-host="https://app.microanalytics.io"
      data-dnt="false"
      src="https://app.microanalytics.io/js/script.js"
      id="ZwSg9rf6GA"
      async
      defer></script>
  </head>

  <body>
    <slot />

    <style>
      html,
      body {
        min-height: 100svh;
        width: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    </style>
  </body>
</html>
