---
import { vstack } from "@/style/patterns";
import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/Footer.astro";

import Base from "./Base.astro";

interface Props {
  title: string;
  description?: string;
  forceUseDefaultOgTitle?: boolean;
  ogType?: "website" | "article";
}

const { title, description, forceUseDefaultOgTitle, ogType } = Astro.props;
---

<Base {title} {description} {forceUseDefaultOgTitle} {ogType}>
  <Navigation />
  <main
    class={vstack({
      flex: "1",
      w: "full",
      px: "4",
      justifyContent: "flex-start",
      alignItems: "flex-start",
      lg: {
        maxWidth: "content",
        mx: "auto",
      },
    })}
  >
    <slot />
  </main>
  <Footer />
</Base>
